.direnv
.gitsecret/keys/random_seed
!*.secret
home/modules/dev/git-extra.nix

# Ignore locally built derivations (eg. ISO images)
result
home/fonts/opentype/BerkeleyMono-BoldItalic.otf
home/fonts/opentype/BerkeleyMono-Bold.otf
home/fonts/opentype/BerkeleyMono-Italic.otf
home/fonts/opentype/BerkeleyMono-Regular.otf
